

html {
    background-image: url();
    background-repeat: repeat;
    background-position: center;
    background-position: top;
    background-color: black;
    
}

body{
    height: 100vh;
    color: white;
    text-align: center;
    font-family: 'Playfair Display', serif;
    
    
}

header {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

table {
    
}

caption {
    border: 2px solid yellow;
    font-size: 28px;
    padding: 20px;
    margin-bottom: 10px;
    caption-side: top;
}

td {
    text-align: left;
    font-size: 24px;
    padding: 5px;
    padding-bottom: 5px;
    border-collapse: inherit;
}

.opis {
    font-size: 16px; 
    padding-bottom: 30px;
    font-style: italic;
}

.margin {
    
}

h1 {
    font-size: 34px;
    margin: 5px;
}

h2 {
    margin-top: 50px;
    font-size: 28px;
}

.yellow {
    font-size: 50px;
    margin-bottom: 10px;
}

strong {
    color: yellow;
}

.name {
    border-left: 4px solid yellow;
    
}

img {
    margin: 10px;
    width: 110px;
}